* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.history {
   border: none;
   outline: none;
   color: #167a09;
   background-color: transparent;
   font-size: 1.2em;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
}
.history:focus {
   border: none;
   outline: none;
} 
.history:hover {
    border: none;
    outline: none;
    color: #f3c90b;
}

section {
    background-color: #34495e;
    color: #fff;
    width: 600px;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: -600px;
    bottom: 0;
    transition: 1s ease;
}

.cmd-help {
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
    height: 90%;
    resize: none;
}
.cmd-help:focus {
    border: none;
    outline: none;
 }
 